<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
</head>
<body>
{{> header}}
    <!-- Uses built-in `if` helper. -->
  <div class="text-center p-3">
    {{#if showTitle}}
      <h1>This is HomePage</h1>
    {{/if}}
    {{#if img_src}}
      <img src="{{img_src}}" width={{width}} alt=""/>
    {{/if}}
  </div>
  {{> footer}}
</body>
</html>
